.filter-button {
  margin-left: 20px;
  width: 100px;
  height: 50px;
  border-radius: 30px;
}


table {
  width: 100%;
}


td,
th {
  width: 18%;
}



.add-user-button {
  width: 17%;
  border-radius: 20px;
}